plugins {
  id 'nf-schema@2.0.0'
}

manifest {
  name = 'nf-reads-profiler'
  author = 'Sunit Jain'
  homePage = 'https://github.com/gutz-analytics/nf-reads-profiler'
  description = 'Metaphlan and HUMANn'
  mainScript = 'main.nf'
  defaultBranch = 'main'
  version = '0.0.3'
}

// includeConfig "$projectDir/conf/aws_batch.config"
// includeConfig "$projectDir/conf/azurebatch.config"

params {

    /* 	Containers
     --------------------------------*/
    // TODO: Humann4, also try 4.0.3 and 4.0.2.
    // Conda: humann v4.0.0.alpha.1
    // MetaPhlAn version 4.1.1 (11 Mar 2024)
    docker_container_humann4 = 'barbarahelena/humann:4.0.3' 
    // TODO: humann3
    docker_container_humann3 = "biobakery/humann:3.9"
    docker_container_metaphlan = "colinbrislawn/metaphlan:4.2.4"
    docker_container_multiqc   = "ghcr.io/multiqc/multiqc:v1.22.3"
    docker_container_fastp     = "getwilds/fastp:1.1.0"
    docker_container_aws       = 'getwilds/awscli:latest'
    docker_container_sra       = 'colinbrislawn/sra-tools-bash:3.2.1'
    docker_container_medi      = "colinbrislawn/medi:0.2.1"

    // AWS config
    aws_region = 'us-east-2'

    /* 	Execution flow parameters
     --------------------------------*/

    config_profile_name        = 'Default profile'
    config_profile_description = 'nf-profile-reads default workflow'

    /* 	Execution flow parameters
     --------------------------------*/

    singleEnd = false  //Whether we the input reads are single or paired-end
    mergeReads = false
    annotation = true
    rna = false
    cache = true
    project= "none"
    prefix="output"
    // input="az://nextflow-data/fetchngs/samplesheet/samplesheet.csv"
    // outdir="az://nextflow-analysis/workflows"
    outdir = "results_local_logs"
    // logs will end up here, if not move elsewhere in the next config!
    // And here's the Time Stamp (ts) for the reports, timelines, and traces!
    ts = new java.util.Date().format('yyyyMMdd_HHmmss')

    rna = false       // Is the input data RNA? Requires "taxonomic_profile" to be set as well.
    taxonomic_profile = null    // <S3Path> Use in case metaphlan results are already available.
    annotation  = true  // whether annotation is enabled  or not
    skipHumann  = false // whether humann2 is executed or not

    /* 	Processing parameters
     --------------------------------*/

    //BowTie2 databases for MetaPhlAn
    metaphlan_index="mpa_vJan25_CHOCOPhlAnSGB_202503"
    metaphlan_db="/dbs/omicsdata/metagenome-dbs/metaphlan/metaphlan4/vJan25"
    // Separate MetaPhlAn database for HUMAnN 4 (should be compatible with HUMAnN 4 vOct22)
    humann_metaphlan_index="mpa_vOct22_CHOCOPhlAnSGB_202403"
    humann_metaphlan_db="/dbs/omicsdata/metagenome-dbs/metaphlan/metaphlan4/vOct22_202403"
    bt2options="very-sensitive" //presets options for BowTie2

    // ChocoPhlAn and UniRef databases for HUMANn analysis
    chocophlan="/dbs/omicsdata/metagenome-dbs/humann/4.0/chocophlan"
    uniref="/dbs/omicsdata/metagenome-dbs/humann/4.0/uniref/uniref"
    utility_mapping="/dbs/omicsdata/metagenome-dbs/humann/4.0/utility_mapping/utility_mapping"

    // Additional command line parameters
    humann_params=""
    
    // HUMAnN table processing parameters
    process_humann_tables = false  // Enable HUMAnN table regrouping
    humann_regroups = "uniref90_ko,uniref90_rxn"  // Comma-separated list of regroup types
    split_size = 100  // Maximum samples per split for memory management

    // SRA download settings
    max_retry_count = 3
    max_parallel_downloads = 3

    // Limit size
    nreads = 33333333
    minreads = 100000
    
    // MEDI quantification parameters
    enable_medi        = true
    medi_db_path       = '/mnt/scratch/ssddbs/medi_db/'
    medi_food_matches  = '/mnt/scratch/ssddbs/medi_db/food_matches.csv'
    medi_food_contents = '/mnt/scratch/ssddbs/medi_db/food_contents.csv.gz'
    confidence = 0.3   // Kraken2 confidence threshold
    consistency = 0.95 // Architeuthis filter consistency threshold
    entropy = 0.1      // Architeuthis filter entropy threshold
    multiplicity = 4   // Architeuthis filter multiplicity threshold
    mapping = false    // Enable mapping summary
    read_length = 150  // Read length for Bracken
    threshold = 10     // Bracken threshold
    batchsize = 400    // Batch size for Kraken2
    
    // MEDI fastp preprocessing parameters
    trim_front = 5  // Number of bases to trim from 5' end
    min_length = 50  // Minimum read length to keep
    quality_threshold = 20  // Minimum quality score to keep a base
    
    /* 	Initialisation
     --------------------------------*/


    //These are used to print version and help
    help = null
    version = null

    multiqc_config="$projectDir/conf/multiqc_config.yaml"
}


timeline {
  enabled = true
  overwrite = true
  file = "$params.outdir/$params.project/reports/${params.ts}_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "$params.outdir/$params.project/reports/${params.ts}_report.html"
}

dag {
    enabled = false
    overwrite = true
    file = "$params.outdir/$params.project/reports/${params.ts}_dag.html"
}

trace {
    enabled = true
    overwrite = true
    file = "$params.outdir/$params.project/reports/${params.ts}_trace.txt"
}

profiles {
    child_min {
        includeConfig '/home/ec2-user/gutz-nf-reads-profilers-runs/conf/child_min.config'
    }
    child_mid {
        includeConfig '/home/ec2-user/gutz-nf-reads-profilers-runs/conf/child_mid.config'
    }
    child_max {
        includeConfig '/home/ec2-user/gutz-nf-reads-profilers-runs/conf/child_max.config'
    }
    aws {
        includeConfig 'conf/aws_batch.config'
    }
    test {
        includeConfig 'conf/test.config'
    }
    azure {
        includeConfig 'conf/azurebatch.config'
    }
}

